/*--功能--*/
.g3 .g3_1 #sidebar .widget_meta{ width:250px; overflow:hidden; float:left; padding-bottom:30px;}
.g3 .g3_1 #sidebar .widget_meta h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_017.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_meta ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_meta li{ width:250px; height:33px; overflow:hidden;background:url(../images/clbj_1.png);}
.g3 .g3_1 #sidebar .widget_meta li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_meta li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--文章归档--*/
.g3 .g3_1 #sidebar .widget_archive { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_archive h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_018.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_archive ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_archive li{ width:250px; height:33px; overflow:hidden;background:url(../images/clbj_1.png);}
.g3 .g3_1 #sidebar .widget_archive li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_archive li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--导航--*/
.g3 .g3_1 #sidebar .widget_nav_menu { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_nav_menu h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_018.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_nav_menu ul{ margin:0px; float:left;}
.g3 .g3_1 #sidebar .widget_nav_menu li{ float:left; width:102px; height:29px; text-align:center; padding:5px 10px;}
.g3 .g3_1 #sidebar .widget_nav_menu li a{
	display:block;
	height:29px;
	background: url(../images/tb_1.jpg) no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 26px;
	color: #666666;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_nav_menu li a:hover,.g3 .g3_1 #sidebar .widget_nav_menu .current-menu-item a{ color:#FFFFFF!important; background:url(../images/tb_2.jpg) no-repeat;}
/*--评论--*/
.g3 .g3_1 #sidebar .widget_recent_comments { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_recent_comments h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_008.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_recent_comments ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_recent_comments li{
	width:240px;
	height:33px;
	overflow:hidden;
	background:url(../images/clbj_1.png);
	padding-left:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 31px;
	color: #333333;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_recent_comments li a{
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_recent_comments li a:hover{ color:#222222;}
/*--友情链接--*/
.g3 .g3_1 #sidebar .widget_links { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_links h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_011.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_links ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_links li{ width:250px; height:33px; overflow:hidden;background:url(../images/clbj_1.png);}
.g3 .g3_1 #sidebar .widget_links li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_links li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--页面--*/
.g3 .g3_1 #sidebar .widget_pages { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_pages h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_019.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_pages ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_pages li{ width:250px; height:33px; overflow:hidden;background:url(../images/clbj_1.png);}
.g3 .g3_1 #sidebar .widget_pages li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_pages li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--搜索--*/
.g3 .g3_1 #sidebar .widget_search { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_search h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_019.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_search form { width:250px; height:30px; overflow:hidden; background:url(../images/ss_003.jpg);}
.g3 .g3_1 #sidebar .widget_search form .screen-reader-text{ float:left; width:35px; height:30px; overflow:hidden;}
.g3 .g3_1 #sidebar .widget_search form #s{
	float:left;
	width:151px;
	height:30px;
	background:none;
	border:0px;
	margin:0px;
	padding:0 8px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: #666666;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_search form #searchsubmit{
	float:left;
	width:54px;
	height:30px;
	padding:0px;
	background:none;
	border:0px;
	margin:0px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 30px;
	color: #666666;
	text-decoration: none;
}
/*--日历--*/
.g3 .g3_1 #sidebar .widget_calendar { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_calendar h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_019.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap{ width:230px; padding:0 10px;}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar{ width:230px;}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar caption{
    height:24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #666666;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar thead{
	height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 30px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar tbody{
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar tbody #today{ color:#0099FF;}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar tbody a:hover{ color:#000000;}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar tfoot a{
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_calendar #calendar_wrap #wp-calendar tfoot a:hover{ color:#000000;}