/*-----页面-----*/
body{ min-width:996px }
.g3{ width:100%; overflow:hidden; background-color:#f3f3f3; background-image:url(../images/bj-012.jpg); background-repeat:repeat-y;}
.g3 .g3_1{ width:334px; overflow:hidden; background:url(../images/bj-011.jpg) top no-repeat; padding:50px 0 0 0; float:left; border-left:1px solid #f3f3f3; border-right:1px solid #f3f3f3; border-top:1px solid #f3f3f3;}
/*--共用--*/
.g3 .g3_1 #sidebar{ width:250px; overflow:hidden; padding-left:55px; float:left;}
/**分页**/
.page {padding: 10px 0px 0px 10px;}
.page a{text-decoration: none;padding:0px 10px;font-size:18px;color:#babfc4;-webkit-text-shadow: 1px 2px 1px #ccc;text-shadow: 1px 2px 1px #ccc}
.page a:hover {color:#537594 }
.page a.current {color:#596083}
.page a.current:hover  {color:#a4bbcf;}
/*--新文章--*/
.g3 .g3_1 #sidebar .widget_recent_entries { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_recent_entries h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_005.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_recent_entries ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_recent_entries li{ width:250px; height:33px; overflow:hidden;background:url(../images/clbj_1.png);}
.g3 .g3_1 #sidebar .widget_recent_entries li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_recent_entries li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--分类--*/
.g3 .g3_1 #sidebar .widget_categories { width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_categories h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_006.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_categories ul{ margin:0px;}
.g3 .g3_1 #sidebar .widget_categories li{ 
    width:250px; height:33px; overflow:hidden; background:url(../images/clbj_1.png);
    font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_categories li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding:0 5px 0 23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .widget_categories li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--读者墙--*/
.g3 .g3_1 #sidebar #readerswall{ width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar #readerswall ul{ padding-left:5px; margin:0px; padding-top:5px;}
.g3 .g3_1 #sidebar #readerswall h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_007.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar #readerswall li{ width:38px; height:38px; padding:0 10px 10px 0; overflow:hidden; float:left;}
.g3 .g3_1 #sidebar #readerswall li a{ display:block; background:#FFFFFF; width:34px; height:34px; padding:1px; border:1px solid #a8a8a8;}
.g3 .g3_1 #sidebar #readerswall li a:hover{ border:1px solid #333333;}
/*--评论--*/
.g3 .g3_1 #sidebar .pl_1{ width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .pl_1 h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_008.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .pl_1 ul{ margin:0px;}
.g3 .g3_1 #sidebar .pl_1 li{ width:250px; height:60px; background:url(../images/clbj_4.png); overflow:hidden;}
.g3 .g3_1 #sidebar .pl_1 li .clly_1{ width:33px; height:33px; background: url(../images/xb_009.png) no-repeat; padding:14px 0 0 12px; float:left;}
.g3 .g3_1 #sidebar .pl_1 li .clly_2{
	width:200px;
	float:right;
	overflow:hidden;
	height:20px;
	padding-top:10px;
	font-size: 12px;
	line-height: 20px;
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .pl_1 li .clly_3{ width:200px; float:right; overflow:hidden; height:20px;}
.g3 .g3_1 #sidebar .pl_1 li .clly_3 a{
	font-size: 12px;
	line-height: 20px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .pl_1 li .clly_3 a:hover{color:#222222;}
/*--收藏--*/
.g3 .g3_1 #sidebar .sc_1{ width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .sc_1 h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_010.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .sc_1 ul{ margin:0px; padding-top:10px;}
.g3 .g3_1 #sidebar .sc_1 li{ width:70px; height:88px; overflow:hidden; float:left; padding:0 0 10px 10px;}
/*--标签--*/
.g3 .g3_1 #sidebar .widget_tag_cloud{ width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .widget_tag_cloud h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_012.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .widget_tag_cloud .tagcloud{ padding:5px;}
.g3 .g3_1 #sidebar .widget_tag_cloud .tagcloud a{
	background: #f3f3f3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 0 8px;
	font-size: 12px!important;
	color: #686868;
	text-decoration: none;
}
.g3 .g3_1 #sidebar .widget_tag_cloud .tagcloud a:hover{ background:#333333; color:#CCCCCC;}
/*--链接--*/
.g3 .g3_1 #sidebar .linkcat{ width:250px; padding-bottom:30px; float:left;}
.g3 .g3_1 #sidebar .linkcat h2{
	width:218px;
	height:36px;
	margin:0px;
	background:url(../images/xb_011.png) no-repeat;
	padding-left:32px;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	text-shadow:1px 1px 0 #ffffff;
}
.g3 .g3_1 #sidebar .linkcat ul{ margin:0px;}
.g3 .g3_1 #sidebar .linkcat li{ width:250px; height:33px; overflow:hidden;background:url(../images/clbj_1.png);}
.g3 .g3_1 #sidebar .linkcat li a{
	background:url(../images/clbj_2.png) left center no-repeat;
	padding-left:23px;
	font-size: 13px;
	line-height: 31px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_1 #sidebar .linkcat li a:hover{ color:#222222; background:url(../images/clbj_3.png) left center no-repeat;}
/*--------*/
.g3 .g3_1 #sidebar .fyb #frame #about-pane { width:250px; height:175px; overflow:hidden; background:url(../images/clbj_5.png);}
.g3 .g3_1 #sidebar .fyb #frame #about-pane li{
	width:210px;
	height:35px;
	padding-left:40px;
	font-size: 13px;
	line-height: 33px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
/*--------*/
.g3 .g3_2{ min-width:610px;max-width: 900px; overflow:hidden; padding:50px 0 40px 50px; float:left;}
.g3 .g3_2 .pager{ background:url(../images/bj_023.png); width:590px; height:20px; padding:0 10px;line-height:18px; text-align:center;}
.g3 .g3_2 .pager a{
    padding:0 5px; 
	font-size: 12px;
	color: #686868;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.g3 .g3_2 .pager .current, .g3 .g3_2 .pager a:hover{
	color:#000000;
	font-weight: bold;
}
.g3 .g3_2 h3{
	width:575px;
	height:29px;
	overflow:hidden;
	background:url(../images/btbj_1.jpg) no-repeat;
	font-size: 15px;
	line-height: 29px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	padding:0 0 15px 35px;
	margin:0px;
}
.g3 .g3_2 p{
	font-size: 12px;
	line-height: 24px;
	color: #555555;
	text-decoration: none;
}
.g3 .g3_2 p .cboxElement img{ padding:2px; border:1px solid #C3C3C3}
/*--评论--*/
.liuy{ padding:35px 0; float:left; min-width:610px;}
.liuy .liuy_1{ height:22px; padding:6px 0 8px 0; background:url(../images/fg_2.jpg);}
.liuy .liuy_1 h2{
	height:22px;
	font-size: 15px;
	float:left;
	margin:0px;
	padding-right:15px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
	font-family: "微软雅黑";
}
.liuy .liuy_2 a{
	display:block;
	width:48px;
	height:22px;
	background:url(../images/bj_016.png);
	float:left;
	text-align:center;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-family: "宋体";
	line-height: 22px;
}
.liuy .children {margin-top: 20px;}
.liuy .liuy_2 a:hover{ color:#CCCCCC; background:url(../images/bj_017.png);}
.liuy .commentlist li{ background:none; border-bottom:1px dashed #CCCCCC; padding:10px;}
.liuy .commentlist li ul { margin:0px;}
.liuy .commentlist li ul li{padding:10px 10px 10px 45px; border-bottom:0px;border-left: 1px solid #ccc;background: #eee;}
.liuy .commentlist li .vcard { height:20px; position:relative;}
.liuy .commentlist li .vcard img{ padding:1px; border:1px solid #999999; position:absolute; top:0px; left:0px;}
.liuy .commentlist li .vcard .fn{
	padding-left:45px;
	height:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
}
.liuy .commentlist li .vcard .says{
	height:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
}
.liuy .commentlist li .comment-meta { padding-left:45px; height:20px;}
.liuy .commentlist li .comment-meta a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #999999;
	text-decoration: none;
	font-style: normal;
}
.liuy .commentlist li p{
	font-family: Arial, Helvetica, sans-serif;
	padding-left:45px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
	margin:0px;
}
.liuy .commentlist li .reply{ height:22px; padding:8px 15px 0 0;}
.liuy .commentlist li .reply a{
    cursor: pointer;
	display:block;
	width:48px;
	height:22px;
	background:url(../images/bj_016.png);
	float:right;
	text-align:center;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-family: "宋体";
	line-height: 22px;
}
.liuy .commentlist li .reply a:hover{ color:#CCCCCC; background:url(../images/bj_017.png);}

.liuy #respond{ padding-top:30px;}
.liuy #respond .lybd1{ width:190px; float:left; height:114px; padding-right:20px;}
.liuy #respond .lybd1 .lybd1_1{ width:120px; height:34px; padding-bottom:6px; background:url(../images/bd1.jpg) no-repeat; padding-left:70px}
.liuy #respond .lybd1 .lybd1_2{ width:120px; height:34px; padding-bottom:6px; background:url(../images/bd2.jpg) no-repeat; padding-left:70px}
.liuy #respond .lybd1 .lybd1_3{ width:120px; height:34px; padding-bottom:6px; background:url(../images/bd3.jpg) no-repeat; padding-left:70px}
.liuy #respond .lybd1 .lygg-bd input {
	width:110px;
	height:34px;
	overflow:hidden;
	background:none;
	padding:0px;
	border:0px;
	font-size: 12px;
	line-height: 34px;
	color: #666666;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.liuy #respond .lybd2{ width:400px; height:164px; overflow:hidden; float:left;}
.liuy #respond .lybd2 .lybd2_1{ width:400px; height:114px; background:url(../images/bd4.jpg) no-repeat;}
.liuy #respond .lybd2 .lybd2_1 #comment{
	width:386px;
	height:100px;
	padding:7px;
	border:0px;
	background:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.liuy #respond .lybd2 .lybd2_2{ padding-top:8px; height:32px;}
.liuy #respond .lybd2 .lybd2_2 #submit{ float:right; width:103px; height:32px; background:url(../images/tj.jpg); padding:0px; border:0px;cursor:pointer}
.liuy li #respond p{ padding:10px 0px;}
.liuy li #respond .cancel-comment-reply a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
}
.liuy li #respond .cancel-comment-reply a:hover{ color:#0066FF;}
/*-----分类-----*/
.k1{ width:610px; overflow:hidden; padding:0 0 30px 0;}
.k1 h3 a{
	color: #686868;
	float:left;
	text-decoration: none;
}
.k1 h3 a:hover{ color:#000000;}
.k1 h3 b{
	height:29px;
	padding-right:5px;
	float:right;
	font-size: 14px;
	color: #989898;
	text-decoration: none;
	font-weight: normal;
}
.k1_1{ width:610px; overflow:hidden; padding-bottom:10px;}
.k1_1 a{padding:2px; border:1px solid #C3c3c3; display:block; overflow:hidden;}
.k1_1 img{ width:100%; overflow:hidden;}
.k1 p{ padding:0 5px 15px 5px; margin:0px;}
.k1 .k1_2{ width:595px; height:24px; overflow:hidden; background:url(../images/bj_018.png); padding:6px 0 9px 15px;}
.k1 .k1_2 .m1{
	height:24px;
	float:left;
	background:url(../images/xb_013.png) no-repeat;
	padding:0 10px 0 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #7c7c7c;
	text-decoration: none;
	text-shadow:1px 1px 0 #ffffff;
}
.k1 .k1_2 .m2{
	height:24px;
	float:left;
	background:url(../images/xb_014.png) no-repeat;
	padding:0 10px 0 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #7c7c7c;
	text-decoration: none;
	text-shadow:1px 1px 0 #ffffff;
}
.k1 .k1_2 .m2 a{ 
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #7c7c7c;
	text-decoration: none;
	text-shadow:1px 1px 0 #ffffff;
}
.k1 .k1_2 .m2 a:hover{ color:#000000;}
.k1 .k1_2 .m3{
	height:24px;
	float:left;
	background:url(../images/xb_015.png) no-repeat;
	padding:0 10px 0 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #7c7c7c;
	text-decoration: none;
	text-shadow:1px 1px 0 #ffffff;
}
.k1 .k1_2 .m3 a{ 
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #7c7c7c;
	text-decoration: none;
	text-shadow:1px 1px 0 #ffffff;
}
.k1 .k1_2 .m3 a:hover{ color:#000000;}
.k1 .k1_2 .m4{
	height:24px;
	float:left;
	background:url(../images/xb_016.png) no-repeat;
	padding:0 10px 0 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #7c7c7c;
	text-decoration: none;
	text-shadow:1px 1px 0 #ffffff;
}

.g3_2 .n1{ width:610px; height:30px; padding-top:10px; background:url(../images/fg_3.png);}
.g3_2 .n1 .n1_1{
	float:left;
	padding-left:10px;
	font-size: 12px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0 #ffffff;
}
.g3_2 .n1 .n1_2{
	float:left;
	padding-left:10px;
	font-size: 12px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0 #ffffff;
}
.g3_2 .n1 .n1_2 a{
    font-size: 12px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0 #ffffff;
}
.g3_2 .n1 .n1_2 a:hover{ color:#000000;}
.g3_2 .n1 .n1_3{
	float:left;
	padding-left:10px;
	font-size: 12px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0 #ffffff;
}
.g3_2 .n1 .n1_3 a{
    font-size: 12px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0 #ffffff;
}
.g3_2 .n1 .n1_3 a:hover{ color:#000000;}
#ckepop{ float:left; padding-left:10px;}
.g3_2 .n2{
	width:600px;
	padding:30px 0 10px 10px;
	overflow:hidden;
	border-top:1px solid #dedede;
}
.g3_2 .n2 li{ width:95px; float:left; overflow:hidden; padding-right:25px;}
.g3_2 .n2 li .pir{ width:91px; height:91px; padding:1px; border:1px solid #CCCCCC; overflow:hidden;}
.g3_2 .n2 li .pir a{ display:block; width:91px; height:91px; overflow:hidden;}
.g3_2 .n2 li .pir a img{ height:100%;}
.g3_2 .n2 li h4{ width:85px; height:40px; padding:5px 5px; text-align:center; overflow:hidden;}
.g3_2 .n2 li h4 a{
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
.g3_2 .n2 li h4 a:hover{ color:#000000;}
.g3wz_1 .readers-wall{ margin:0px; padding-bottom:20px; border-bottom:1px solid #dedede;}
.g3wz_1 #readerswall li{ width:45px; height:45px; overflow:hidden; padding:5px 0 0 5px; float:left;}
.g3wz_1 #readerswall li a{ display:block; width:39px; height:39px; padding:2px; border:1px solid #CCCCCC;}
/*----链接----*/
.link .linkcat{ width:600px;}
.link .linkcat h2{ display:none;}
.link .linkcat li{ width:180px; height:30px; overflow:hidden; padding:0 10px; float:left;}
.link .linkcat li a{
    background:#F3F3F3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #686868;
    display: inline-block;
    font-size: 12px !important;
    margin: 0 10px 10px 0;
    padding: 0 8px;
    text-decoration: none;
}
.link .linkcat li a:hover{ background:#333333; color:#FFFFFF;}
/*----搜索结果----*/
.ssjg{ width:600px; overflow:hidden;}
.ssjg li{ width:508px; height:42px; overflow:hidden;}
.ssjg li a{
	display:block;
	float:left;
	height:34px;
	padding:4px 0;
	padding-left:15px;
	background:url(../images/clbj_3.png) left center no-repeat;
	text-decoration: none;
}
.ssjg li a h2{
	padding:0 10px;
	float:left;
	height:34px;
	overflow:hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 34px;
	color: #666666;
	background:#f3f3f3;
	text-decoration: none;
}
.ssjg li a b{
	padding:0 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 34px;
	color: #999999;
	text-decoration: none;
	font-weight: normal;
}
.ssjg li a:hover{ background:url(../images/bj_022.jpg) no-repeat; width:458px; padding-left:50px;}
.ssjg .ssjg_2{ width:508px; height:222px; overflow:hidden;}
/*----归档----*/
.gd{ width:600px; overflow:hidden;}
.gd li{ width:180px; height:30px; overflow:hidden; padding:0 10px; float:left;}
.gd li a{
    background:#F3F3F3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #686868;
    display: inline-block;
    font-size: 12px !important;
    margin: 0 10px 10px 0;
    padding: 0 8px;
    text-decoration: none;
}
.gd li a:hover{ background:#333333; color:#FFFFFF;}